body{
	background-color: #edf0f2;
	font-family: 'Roboto Condensed', sans-serif;
}
.bgimg-1{
  background-image: url('../img/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 640px;
  background-attachment: fixed;
}
.bgimg-2{
	background-image: url('../img/bg2.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	min-height: 640px;
  	background-color: black;
  	
}
.bgimg-3{
	background-image: url('../img/bg3.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	min-height: 340px;
  	filter:hue-rotate(200deg);

  	
}
.text-logo{
	color: white;
	font-size: 50px;
}
.text-motto{
	color:white;
  	font-size: 35px;
}
h1{
	margin-top: 0;
  	margin-bottom: 0.5rem;
	text-align: center;
}
.h-dark{
	color:black;
}
.h-light{
	color:white;
}
.team{
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	padding-bottom: 10px;
}
.team-img{
	position: center;
	width:100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.space{
	padding-top: 90px;
	padding-bottom: 90px;
}
.project-img{
	width: 100%;
	height:300px;
}
.description{
	background: rgba(27, 148, 229, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	font-size: 30px;
	color: white;
}
.thumbnail{
		position: relative;
		width: 150px;
		float: left;
}
.thumbnail:hover .description{ 
	display: block; 
}
.col-p{
	padding: 0px;
}
.nav-item a:hover{
	color: rgba(27, 148, 229, .7) !important;
}
.advantages-block{
	background-color: rgba(255, 255, 255, .9); 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}